<%- include('menu/header') %>
<div class="top"><br><br>
  <h3><img src="https://www.platinmarket.com/wp-content/uploads/2018/03/404.png" style="width: 420px"><br>
    Hey! Burada neler oluyor?
  
  <br>
<h4>
 Lütfen tüm alanları eksiksiz doldurunuz!
</h4><br><br>
    <button class="btn btn-primary">
      <a href="/addbot" style="color: white; text-decoration: none;">Tekrar Dene</a>
    </button>
  </center>
</div>

