<%- include('menu/header', {bot, user, path}) %>

<head>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
 <center><div class="top">
   <form method="post"><br><br><br><br><br>
  <div style="text-align: left;padding: 20px;" class="ust">
      <br>
    <center> <h3>
        Sil      </h3></center> 
      
       <center> <h6>
Bunu yaptıktan sonra botu tekrar ekleyebilirsiniz.
      </h6></center> 
      
          </div>



  <h6>
    Bunu yapmak istediğine emin misiniz?
  </h6>
  <br>
  				<div align="center" style="width: 100%; text-align: left; margin-top: 20px;">
					<center><button id="botid" name="botid" value="<%=id%>" type="submit" class="btn btn-danger">Eminim botu sil<i aria-hidden='true'></i></button>
          </center></div>
  
</div>
    </form>


