<%- include('menu/header') %>
<center>
  <div class="top">
  <br><br><br><br>
<h3><img src="https://www.platinmarket.com/wp-content/uploads/2018/03/404.png" style="width: 420px"><br>
    Her bota günde bir kez oy verebilirsiniz.

<br>
  </h3><br>
      <div class="options">
        
            
            <a class="options" href="https://topbots.glitch.me" id="profilebutton">Ana Sayfaya Dön</a>

        
    </div>
</div></center>
  

<%- include('menu/footer') %>