<%- include('menu/header') %>

    <div class="ust">
      <br>
      <br>
      <h3>
      
Web sitesi lisansı
      </h3>
      <br>
      <h4>
      Web sitesi lisansı hakkında bilgiler.
      </h4>
      <br>
          </div>
<div class="top">
  <br>
<center>
        <h1>License</h1>
  <h3>
Çok Yakında
  </h3>
  </center>
</div>
<br>
<%- include('menu/footer') %>