<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Discord Bots</title>
    
<!-- 
  Copyright Yunus Emre Fındık All Rights Reserved
  THE FUNCTIONALITY AND DESIGN OF THIS WEBSITE AND ANY OF ITS ASSETS ARE NOT ALLOWED TO BE REUSED IN ANY WAY SHAPE OR FORM WITHOUT PROPER PERMISSION 
  A copy of our license can be viewed here https://thediscordbots.xyz/license
-->
    
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="/img/tdblogo.png">
  <meta name="author" content="The Discord Bots">
  <meta name="keywords" content="discordbotlist,discord bot list,list,discordlist,discord bots list,discordbotslist,discord,discordapp,botsfordiscord,discordbot,discord bot,bot,discordbots,discord bots,bots,discord music bot,discordmusicbot,discordmusic,discord music,discord bots music,bots for discord,for,discordapp bots,discordappbots,dbot,dbots,discord bots mee6,discord bot api,discord bot commands,discord download,discord servers,discord chat,discord canary,discord background,discord bot api,discord bot maker, boob bot,boobbot,boob bot discord,boobbot discord,discord nsfw bots,discord nsfw bot,discord nsfw,nsfw bot,nsfw bot in discord,discord boobbot,discord boob bot">
  <meta property="og:type" content="website">
  <meta property="og:site_name" value="The Discord Bots">
  <meta property="og:image" content="/img/tdblogo.png">
  <meta property="og:description" content="The Discord Bot'da sunucunuz için mükemmel discord botunu bulun veya başkalarının bulması için botunuzu Ekleyin .">
  <meta name="description" content="The Discord Bot'da sunucunuz için mükemmel discord botunu bulun veya başkalarının bulması için botunuzu Ekleyin .">
  <meta charset="UTF-8">
    <!--Css-->
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta name="copyrighted-site-verification" content="3015f3c56170df01" />
    <link rel="stylesheet" type="text/css" href="/css/index.css">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135897792-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-135897792-2');
</script>
  </head>
  <style>
  .centered {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  </style>
<body>
  <div class="centered">
  <div class="emoji"><img src="https://github.com/cba85/template-error-pages/blob/master/unicorn.gif?raw=true" width="250"></div>
  <p class="title"> Site Maintenance Please try again later.
  </p>
  	<a href="https://discord.gg/86jN5Ap"><button style="background-color:#00a1ff" type="submit" class="btn btn-primary">Discord Server<i aria-hidden='true'></i></button></a>
  	<a href="https://twitter.com/TheDiscordBots"><button style="background-color:#00a1ff" type="submit" class="btn btn-primary">  Twitter<i aria-hidden='true'></i></button></a>
    <a href="https://www.facebook.com/thediscordbots/"><button style="background-color:#00a1ff" type="submit" class="btn btn-primary">  Facebook<i aria-hidden='true'></i></button></a>
  </div>
</body>
  
<script type="text/javascript">window.$ondestek||(window.$ondestek=function(){var e=document.createElement("script");e.type="text/javascript",e.src="https://panel.ondestek.com/client/client.js?s=aef06734-0e5d-4678-8ee1-6f02b6235394",e.async=!0;var t=document.getElementsByTagName("head")[0];t.insertBefore(e,t.firstChild)})();</script>

</html>