<%- include('menu/header', {bot, user, path}) %>
<div class="container">
  <br>
	<div class="bot-ekle">
		<div align="center">
      <form method="POST">
        <p>Botun Ismini Altaki Bolmeye Girin</p>

      <input type="text" id="red-sebep" name="red-sebep" placeholder="Sebep" required>
        <button class="btn btn-danger" type="sumbit">Reddet</button>
      </form>
    </div>
</div>
</div>
<% include ./menu/footer %>