<%- include('menu/header', {bot, user, path}) %>
    <div style="text-align: left;padding: 20px;" class="ust">
      <br>
      <h3>
        Token Iste     </h3>
      <br>
      <h6>
Bu işlem sadece bir kere kullanılır. Lütfen kaydedin ve kimse ile paylaşmayınız.
      </h6>
      <br>
          </div>

<div class="top">
   <form method="post">
 <br>
  <h6>
    Token alarak bütün sorumluluğu üstünüze alacaksınız. ( Bu token botunuzun tokeni değildir. )
  </h6>
  <br>
  				<div align="center" style="width: 100%; text-align: left; margin-top: 20px;">
					<center><button id="botid" name="botid" value="<%=id%>" type="submit" class="btn btn-danger">Token Al<i aria-hidden='true'></i></button>
          </center></div>
  
</div>
    </form>


