<%- include('menu/header') %>

    <div class="ust">
      <br>
      <br>
      <h3>
        Kullanım Şartları
      </h3>
      <br>
      <h4>
      Tüm geliştiricilerin botlarını eklemeden okuması önerilir.
      </h4>
      <br>
          </div>
<div class="top">
  <br>
<center>

...
  </center>
</div>
<br>
<%- include('menu/footer') %>